@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400;500;600&display=swap");
#root,
body,
html {
  height: 100%;
  width: 100%;
  font-family: rubik;
  margin: 0px;
}
.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  height: 70px;
  border-bottom: 2px solid rgb(226, 226, 226);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  font-weight: 500;
  padding: 0em 0.5em;
}
.editor {
  width: 100%;
  height: 100%;
  display: flex;
}

.editor .editor-canvas {
  width: calc(100% - 250px);
  font-weight: 700;
  font-size: 2em;
  color: rgb(192, 192, 192);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
}

.editor .editor-picker {
  padding: 25px;
  width: 250px;
  border-left: 2px solid rgb(226, 226, 226);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8em;
}

body.dragging .editor-canvas {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(
      transparent 25px,
      #f2f2f2 24px,
      #f2f2f2 76px,
      transparent 75px
    ),
    linear-gradient(-90deg, #aaa 1px, transparent 1px),
    linear-gradient(
      -90deg,
      transparent 25px,
      #f2f2f2 24px,
      #f2f2f2 76px,
      transparent 75px
    ),
    linear-gradient(#aaa 1px, transparent 1px), #f2f2f2;
  background-size: 25px 25px, 25px 25px, 100px 100px, 100px 100px, 100px 100px,
    100px 100px, 100px 100px, 100px 100px;
}
